/* index.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body {
  background-color: #f4f4f4;
}


/* Main content */
.homepage-container {
  margin-left: 16%;
  padding-top: 5px;
}
.main-content {
  padding: 20px;
}



/* Responsive */
@media (max-width: 1200px) {
  .courses-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 900px) {
  .courses-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .courses-grid {
    grid-template-columns: 1fr;
  }
  .search-bar {
    width: 200px;
  }
  .nav-links {
    gap: 10px;
  }
}